@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.glow-effect {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.8);
  }
  

  
/* Custom Gradient Text for Hover */
.alert-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 0.5s ease-in, fadeOut 0.5s ease-out 3.5s forwards;
  z-index: 1000; /* Ensure it appears above other elements */
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translate(-50%, -60%);
  }
  to {
      opacity: 1;
      transform: translate(-50%, -50%);
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}



  /* src/index.css */
  /* THIS IS*/
@font-face {
  font-family: 'slick';
  src: url('/fonts/slick.woff') format('woff'),
       url('/fonts/slick.ttf') format('truetype');
}

@font-face {
  font-family: Race;
  src: url('../public/fonts/RacingSportDisplay-Regular.otf') format('truetype'),
}

@font-face {
  font-family: fish;
  src: url('../public/fonts/Monstrous\ Fish.otf') format('truetype'),
}


@font-face {
  font-family: box;
  src: url('../public/fonts/Boxiest-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: poker;
  src: url('../public/fonts/Poker\ Nightmare.ttf') format('truetype'),
}

@font-face {
  font-family: smesh;
  src: url('../public/fonts/SMESH') format('truetype'),
}

@font-face {
  font-family: Sweet;
  src: url('../public/fonts/Sweet\ Home\ Alabama.ttf') format('truetype'),
}

@font-face {
  font-family: wall;
  src: url('../public/fonts/TOUGHWALL.ttf') format('truetype'),
}

.dropdown-message {
  position: fixed;
  top: 10px; /* Adjusted to give some space from the top */
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px 20px; /* Adjusted padding for better appearance */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: dropDownFade 0.5s ease-in-out;
  border-radius: 8px; /* Added rounded corners */
  display: inline-block; /* Adjust width according to text */
}

@keyframes dropDownFade {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hover-gradient {
  background: linear-gradient(to right, #3b82f6, #9333ea);
  transition: background 0.3s ease;
}

.hover-gradient:hover {
  background: linear-gradient(to right, #60a5fa, #a855f7);
}